[Unit]
Description=Famine by Mbrement and Mgama
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/famine --daemon --multi-instances <%= @args %>
Restart=on-failure

[Install]
WantedBy=multi-user.target